<div class="container">

	<div class="row" id="image-row">
		<div class="col-md-12" id="image-col">			
			<img src="/assets/img/burger.png" id="burger-image">
			<h1>Eat-Da-Burger</h1>
		</div>
	</div>
	<div class="row" id="burgers-div">
		<div class="col-md-4" id="burgers">
			<ul class="list-group">
				{{#each burgers}}
					{{#unless this.devoured}}					
						{{> burgers/burger-block devoured=false}}
					{{/unless}}
				{{/each}}
			</ul>
		</div>
		
		<div class="col-md-4"></div>

		<div class="col-md-4" id="burgers-devoured">
			<ul class="list-group">
				{{#each burgers}}
					{{#if this.devoured}}					
						{{> burgers/burger-block devoured=true}}
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<form class="create-update-form" method="POST" action="index/create">
				<textarea class="form-control" id="burger-text-area" type="text" name="burger_name" placeholder="please enter new burger here"></textarea>
				<button type="submit" id="new-burger-button">Submit</button>
			</form>
			<br>
		</div>
	</div>
</div> 
