*{
	font-family: 'Frijole', cursive;
}
.container {

	width: 960px;
	min-width: 960px;
}

h1 {
	text-align: center;	
}

#burger-image {
	padding-top: 20px;
	width: 200px;
	display: block;
	margin: auto;
}

#burgers-div {
	margin: auto;
	min-width: 960px;
	padding: 10px;
}

.list-group-item {
	padding: 2%;
	margin: 2%;
	font-size: 60%;
}


textarea {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

textarea[placeholder] {
	text-align: center;
}

.burger-button {	
	float: right;
	margin-left: 2%;
	padding: 1%;
	font-size: 40%;
}

#new-burger-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#burgers-li{
	color: beige;
}

#burgers-devoured-li{
	color: seashell;
}

.form-control {
	width: 400px;
	height: 400px;
}


